@model IEnumerable<Ecommerce.Models.TempCart>
@using Microsoft.AspNetCore.Identity
@using Ecommerce.Areas.Identity.Data

@inject SignInManager<EcommerceUser> SignInManager
@inject UserManager<EcommerceUser> UserManager


@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cart</h1>
 @foreach(var cart in Model){
     <div class='CartBox'>
         <div class='ImgBox'>
             <img src="~/Images/@cart.Inventory.ImageName" class='CartImage CI'/>
        </div>
         <div class = 'CartDescription row'>
             <div class='CDc1'>
                 <div>            install
                     <h6><b>Item:</b></h6>
                     @cart.Inventory.ItemName x @cart.Quantity
                 </div>
                 <br/>
                 <div>
                     <h6><b>Description:</b></h6>
                     @Html.DisplayFor(c => cart.Inventory.Description)
                 </div>
                 <br/>
             </div>
             <div class='CDc2'>
                 <div>
                     <h6><b>Price:</b></h6>
                     @Html.DisplayFor(c => cart.Cost)
                 </div>
                 <br/>
                 <button class = 'btn btn-danger js-delete' data-cart-id = @cart.Id>Remove</button>
             </div>
         </div>
     </div>
     <br/>
     
 }
@if (Model.Any())
{
    <h4><b>Total Cost</b></h4>
    <h5 id='total'>@Model.Sum(c => c.Cost)</h5>
    <div id = 'order'>
        <button class = 'btn btn-primary place-order' user-id = @UserManager.GetUserId(User)>Place Order</button>
    </div>

}

@section scripts{
    <script>
        $(document).ready(function(){
            $(".CartBox").on("click",".js-delete", function(){
                var button = $(this);
                if(confirm("Are you Sure?")){
                    $.ajax({
                        url:"/api/TempCart/"+button.attr("data-cart-id"),
                        method: "DELETE",
                        
                    });
                }
            });
            $("#order").on("click",".place-order", function(){
                var button = $(this);
                if(confirm("Place the Order?")){
                    $.ajax({
                        url:"/api/Order/"+button.attr("user-id"),
                        method: "POST",
                    });
                }
            });
        })
    </script>
}
