@model Ecommerce.Models.ViewModels.InventoryViewModel
@using Microsoft.AspNetCore.Identity
@using Ecommerce.Areas.Identity.Data

@inject SignInManager<EcommerceUser> SignInManager
@inject UserManager<EcommerceUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockRemaining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockRemaining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10" >
            @if(Model.ImageName != "")
            {
            <img src="~/Images/@Model.ImageName" style='width: 300px; height: 300px;'/>
            }
        </dd>
    </dl>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <h2>Add Order</h2>
    /*<form>
        <div>
            <label>Quantity:</label>
            <input type='number' name='orderQuantity' id = 'orderQuantity' class="form-control"/>
            @Html.ValidationMessageFor(c => c.OrderQuantity)
        </div>
        <br>
        <div id='addCart'>
            <input type="button" class='btn btn-primary' id="add-cart" value="Add Cart" />
        </div>
    </form>*/
    @using (Html.BeginForm("AddCart", "Order"))
    {
        <div>
            <label>Quantity:</label>
            <input asp-for="OrderQuantity" class="form-control"/>
            @Html.ValidationMessageFor(c => c.OrderQuantity)
        </div>
        <br />
        @Html.HiddenFor(c => c.Id)
        @Html.HiddenFor(c => c.OrderQuantity)
        @Html.HiddenFor(c => c.Price)
        @Html.HiddenFor(c => c.StockRemaining)
        <button type="submit" class="btn btn-primary">Add Cart</button>
    }
}
<div>
    <a asp-action="Edit" asp-route-id="/id=@Model.Id&quantity=@Model.OrderQuantity">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script>
        $(document).ready(function(){
            $("#addCart").on("click","#add-cart", function(){
                var users = new Object();
                $.ajax({
                    url:"/api/EcommerceUser/"+"@UserManager.GetUserId(User)",
                    method: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType:"json",
                    success: function(data){
                        users.id = data.id;
                        users.name = data.name;
                        users.address = data.address;
                        users.birthDate = data.birthDate;
                    }
                });
                const tempCart = {
                    id: 0,
                    quantity: $('#orderQuantity').val(),
                    cost: @Model.Price *  $('#orderQuantity').val(),
                    inventory:null,
                    inventoryId: @Model.Id,
                    user:null,
                    userId: '@UserManager.GetUserId(User)'

                };
                console.log(users);
                console.log(tempCart)
                 if(confirm("Add to Cart?")){
                    console.log(tempCart)
                    $.ajax({
                        data: tempCart,
                        url:"/api/TempCart/",
                        method: "POST",
                        type:"POST",
                        contentType:"application/json; charset=utf-8",
                        dataType :'json',
                        success: function(){
                            console.log('Success')
                        },
                        error: function(){
                            console.log(data)
                        }
                    });
                }
            });
        })
    </script>
}