@model IEnumerable<Ecommerce.Models.Inventory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table id="inventory" class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockRemaining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
 @section scripts{
     <script>
         $(document).ready(function(){
             var table = $("#inventory").DataTable({
                 ajax:{    
                    url:"/api/Inventory/",
                    dataSrc: ""
                 },
                 columns:[
                     {
                         data : "itemName"
                     },
                     {
                         data : "description"
                     },
                     {
                         data : "stockRemaining"
                     },
                     {
                         data : "price"
                     },
                     {
                         data : "imageName"
                     },
                     {
                         data : "id",
                         render: function(data){
                             return "<a href='/Inventory/Details/"+data+"'>Details</a> | <a href='/Inventory/Edit/"+data+"'>Edit</a>";
                         }
                     }
                 ]
             });
         });
     </script>
 }